<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="PaymentRestAPISuite">
	<listeners>
		<listener class-name="com.paypalpayment.utils.Listeners" />
	</listeners>
	<test thread-count="1" name="PaymentRestAPISuite">
		<classes>
			<class name="com.paypalpayment.testcases.PaymentTestcases" />
			

		</classes>
	</test> <!-- Test -->
	
</suite> <!-- Suite -->
